/* Header Styles */
header {
  background-color: #f0f8ff; /* This is a light blue color */
  padding: 20px;
  width: 100%;
}

/* Navbar Styles */
nav {
  background-color: #f0f8ff;
}
nav .navbar-nav .nav-link {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}
nav .navbar-nav .nav-link:hover {
  background-color: #f0f8ff;
  color: #007bff;
}
nav .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.sub-menu {
  position: absolute;
  top: 100%; /* position directly below the nav-item */
  left: 0;
  display: none; /* hide by default */
}

.nav-item:hover .sub-menu {
  display: block; /* show on hover */
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Footer Styles */
footer {
  background-color: #f0f8ff;
  padding: 20px;
  width: 100%;
}